# Xcode

## Build generated
build/
DerivedData/
.DS_Store
.idea/

## Xcode User data
xcuserdata/ruslanlukin.xcuserdatad/UserInterfaceState.xcuserstate
xcuserdata/ruslanlukin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

## Constants 
Constants.swift
AppConstants.swift
GoogleService-Info.plist
Info.plist

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

Pods
